{{ $URL := "https://morisset.gitlab.io/protocolgame"  }}

<script src="{{ $URL }}/pgame.js" type="text/javascript"></script>
<link rel="stylesheet" href="{{ $URL }}/style_game_v2.css">

<body onload="c1.retrieve_cmds();">

