{{ $visabacURL := "https://morisset.gitlab.io/visabac/"  }}


<link href="{{ $visabacURL }}styles/logicCirclePacking.css" rel="stylesheet" type="text/css"/>
<!--------------------------------------------------------------------------->
<link href="{{ $visabacURL }}styles/visualiserForm.css" rel="stylesheet" type="text/css"/>
<link href="{{ $visabacURL }}styles/visualiserForm_colorNormal.css" rel="stylesheet" type="text/css" id="styleNormal" title="styleNormal"/>
<link href="{{ $visabacURL }}styles/visualiserForm_colorDeficiency.css" rel="alternate stylesheet" type="text/css" id="styleVisionDeficiency" title="styleVisionDeficiency"/>

<script src="{{ $visabacURL }}libraries/d3.v3.js" type="text/javascript"></script>      
<script type="text/javascript" src="{{ $visabacURL }}classes/Node.js"></script>
     
<!--------------------------------------------------------------------------->
<script type="text/javascript" src="{{ $visabacURL }}classes/LogicCirclePacking_d3v3.js"></script>
<!--------------------------------------------------------------------------->

<script type="text/javascript" src="{{ $visabacURL }}scripts/preferences.js"></script>
<script type="text/javascript" src="{{ $visabacURL }}classes/Policy.js"></script>
<script type="text/javascript" src="{{ $visabacURL }}classes/Sample.js"></script>
<script type="text/javascript" src="{{ $visabacURL }}classes/Visualiser.js"></script>

<hr>
<div>
<form name="myForm">

<fieldset>
    <legend>Policy</legend>
    <textarea id="policy" rows="4" cols="60" class="panelPolicy" spellcheck="false"></textarea>
</fieldset>

<fieldset>
    <legend>Policy Evaluation</legend>
    <div id="panelConsole" >
        <p id="console">Console</p>
    </div>               
</fieldset>

<fieldset>
    <legend>Policy Attributes</legend>
    <div id="panelPolicyDetails" class="child">
    </div>
</fieldset>



<!--  - - - - - - - - - - - - - - - - - - - - - - - -Controls-->
<div id="panelControlsLeft">                    
    <input id="addAttribute" type="button" class="button" value="Add Attribute" onclick="visualiser.addAttribute();return false;" />
    <input id="deleteAttribute" type="button" class="button" value="Delete" disabled="disabled" onclick="visualiser.deleteSelectedAttributes();return false;" /> 
</div>

<div id="panelControlsRight">
   <input id="evaluateButton" type="button" class="evalButton" value="Evaluate" onclick="visualiser.evaluate();return false;" />
</div>
</div>
</form>
<p><br></p><hr>
